body{
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  border-bottom: 20px solid orange;
  padding-bottom: 50px;
}

div{
  width: 80%;
  margin: auto;
}

#top{
  background-color: orange;
  color: white;
  text-align: center;
  background: linear-gradient(orange, transparent),
              linear-gradient(transparent,white),
              url('../img/mountains.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 70px;
  padding-top: 300px;
}

.title{
  font-size: 25px;
}

h1{
  font-size: 50px;
  font-weight: lighter;
}

p{
  line-height: 1.5;
}

.callout{
  font-size: 20px;
  text-decoration: none;
  border-bottom: 3px solid orange;
  padding-top: 50px;
  padding-bottom: 5px;
  text-align: center;
}

#wildlifecu{
  text-align: center;
  border-bottom:  darkgray solid 2px;
  width: 760px;
  padding-bottom: 70px;
}

a{
  text-decoration: none;
  line-height: 1.5;
}

a:link{
  color: orange;

}

a:hover{
  color: tan;
}

a:active{
  color: skyblue;
}

a:visited{
  color: steelblue;
}

.main-footer{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: dimgray;
  width: 760px;
  border-top: darkgray solid 2px;
  margin: auto;
}

ol{
  line-height: 1.5;
  color: dimgray;
}

.wildlife{
  background-color: dimgray;
  color: white;
  height: 380px;
  width: 480px;
  text-align: center;
  padding-top: 80px;
  padding-right: 140px;
  padding-left: 140px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: lighter;
  border-top: 10px solid orange;
  margin-bottom: 100px;
  border-radius: 10px;
  background: url('../img/bear.jpg');
  background-size: cover;
}

h2{
  font-size: 50px;
  font-weight: lighter;
}

h3{
  color: darkslategray;
}

#topcontent{
font-size: 19px;
font-weight: lighter;
color: dimgrey;
text-align: center;
border-top: darkgray solid 2px;
padding-top: 50px;
width: 760px;
height: 230px;
}

img{
  width: 100%;
  border-radius: 10px;
}
.resorts{
  align-content: center;
  color: dimgray;
  float: left;
}

.tips{
  color: dimgray;
  float: right;
}

.resorts, .tips{
  width: 45%;
}

.secondary-content img{
  border-top: 10px solid orange;
}

.secondary-content{
  width: 760px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
.secondary-content:after{
  width: 760px;
  margin: auto;
  content:"";
  display: table;
  clear: both;
}
/*finished*/
